@model OdeToFood.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Home";
}

<h1>Welcome!</h1>
<table>
    @foreach (var restaraunt in Model.Restaurants)
    {
        <tr>
            <td>@restaraunt.Name</td>
            <td>
                <a asp-action="Details" asp-route-id="@restaraunt.Id">Detail</a>
                <a asp-action="Edit" asp-route-id="@restaraunt.Id">Edit</a>
            </td>

        </tr>
    }
</table>

<a asp-action="Create">Create</a>

@section footer {
    <h3>@Model.CurrentMessage</h3>
}